@import "tailwindcss";

/* Enforce light mode here for now, main focus is functionality not storybook's theming */
@plugin "../vendor/daisyui" {
  themes: light --default
}

/* Temporary to allow colors in storybook */
/* TODO: update storybook to safelist everything + remove from here */
@source inline("text-{accent,error,info,neutral,primary,secondary,success,warning}");
